<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit existing Country</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../main.css">
    <script src="../jquery-3.3.1.js"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div class="forgecontainer">

    <h1 class="main-name_page">Country</h1>
    <div class="float-l">
        <a th:href="@{'/logout'}">
            <button class="logoutButton"><span>✗</span></button>
        </a>
    </div>
    <div class="main_menu float-l mg-t-140">
        <div>
            <ul class="nav nav-pills flex-column">
                <b class="txtsize">
                    <li><a th:href="@{'../country/'}">Countries</a></li>
                    <li><a th:href="@{'../cities/'}">Cities</a></li>
                    <li><a th:href="@{'../sights/'}">Sights</a></li>
                    <li><a th:href="@{'../universities/'}">Universities</a></li>
                </b>
            </ul>
        </div>
    </div>

    <div class="float-l mg-t-50 mg-l-15 mg-b-20 w-60">

        <h1 class="name_page">Edit existing Country</h1>

        <!--<p>ID: [[${country.id}]]</p>-->

        <form id="formUpdateCountry">
            <div><input class="inp-position" type="hidden" name="id" id="id" th:value="${country.id}"></div>

            <div class="row">
                <div class="col-25">
                    <label for="nameCountry">Name Country:</label>
                </div>
                <div class="col-75">
                    <input type="text" name="nameCountry" id="nameCountry" th:value="${country.nameCountry}">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="dateOfCreation">Date of Creation:</label>
                </div>
                <div class="col-75">
                    <input type="date" name="dateOfCreation" id="dateOfCreation" th:value="${country.dateOfCreation}">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="politicalSystem">Political System:</label>
                </div>
                <div class="col-75">
                    <select name="politicalSystem" id="politicalSystem" th:name="politicalSystem">
                        <option name="politicalSystem" value="Totalitar">Totalitar</option>
                        <option name="politicalSystem" value="Authoritarian">Authoritarian</option>
                        <option name="politicalSystem" value="Democratic">Democratic</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="continent">Continent:</label>
                </div>
                <div class="col-75">
                    <select name="continent" id="continent" th:value="${country.continent}">
                        <option name="continent" value="Antarctica">Antarctica</option>
                        <option name="continent" value="NorthAmerica">North America</option>
                        <option name="continent" value="SouthAmerica">South America</option>
                        <option name="continent" value="Europe">Europe</option>
                        <option name="continent" value="Africa">Africa</option>
                        <option name="continent" value="Asia">Asia</option>
                        <option name="continent" value="Australasia">Australasia</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="capital">Capital:</label>
                </div>
                <div class="col-75">
                    <div><input type="text" name="capital" id="capital" th:value="${country.capital}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="square">Square:</label>
                </div>
                <div class="col-75">
                    <input type="number" name="square" id="square" th:value="${country.square}">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="population">Population:</label>
                </div>
                <div class="col-75">
                    <input type="number" name="population" id="population" th:value="${country.population}">
                </div>
            </div>
        </form>

    </div>

    <div class="clear text-align-center">
        <button id="updateButtonCountry">Save</button>

        <a th:href="@{'/deleteCountry/'+${country.getId()}}">
            <button>Delete</button>
        </a>

        <a th:href="@{'/cancelEdit/'+${country.getId()}}">
            <button>Back</button>
        </a>
    </div>
</div>
</body>
</html>

<script src="../main.js"></script>
