<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Countries</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../main.css">
    <script src="../jquery-3.3.1.js"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<div class="forgecontainer">

    <h1 class="main-name_page">Country</h1>
    <div class="float-l">
        <a th:href="@{'/logout'}">
            <button class="logoutButton"><span>✗</span></button>
        </a>
    </div>

    <div class="clear main_menu float-l mg-t-140">
        <div>
            <ul class="nav nav-pills flex-column">
                <b class="txtsize">
                    <li><a th:href="@{'country/'}">Countries</a></li>
                    <li><a th:href="@{'cities/'}">Cities</a></li>
                    <li><a th:href="@{'sights/'}">Sights</a></li>
                    <li><a th:href="@{'universities/'}">Universities</a></li>
                </b>
            </ul>
        </div>
    </div>


    <div class="float-l mg-t-50 mg-l-15 w-66">

        <h1 class="name_page">Search Countries</h1>

        <form>
            <div class="row">
                <div class="col-25">
                    <label for="nameCountrySearch">Name Country:</label>
                </div>
                <div class="col-75 w-50">
                    <input type="text" name="name" id="nameCountrySearch">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="politicalSystem">Political System:</label>
                </div>
                <div class="col-75 w-50">
                    <select name="politicalSystem" id="politicalSystem">
                        <option selected hidden></option>
                        <option value="totalitar">Totalitar</option>
                        <option value="authoritarian">Authoritarian</option>
                        <option value="democratic">Democratic</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="continent">Continent:</label>
                </div>
                <div class="col-75 w-50">
                    <select name="continent" id="continent">
                        <option selected hidden></option>
                        <option value="antarctica">Antarctica</option>
                        <option value="northAmerica">North America</option>
                        <option value="southAmerica">South America</option>
                        <option value="europe">Europe</option>
                        <option value="africa">Africa</option>
                        <option value="asia">Asia</option>
                        <option value="australasia">Australasia</option>
                    </select>
                </div>
            </div>
        </form>

        <div class="clear text-align-center mg-t-8">
            <button class="two-buttons" id="searchButtonCountry">Search</button>
            <a th:href="@{'/createNewCountryButton'}">
                <button class="two-buttons">Create New</button>
            </a>
        </div>

        <div class="border-list mg-t-8">
            <div class="right-scroll_head">
                <span class="w-49 mg-l-1 color-yellow">NAME</span>
                <span class="w-50 mg-l-270 color-yellow">POPULATION</span>
            </div>
            <div class="right-scroll">
                <ul class="ul_table">
                    <li class="li_table" id="li" th:each="country:${countryList}">
                        <a class="buttons-list" th:href="@{'/viewCountry/'+${country.getId()}}">
                            <div th:name="nameCountry">
                                <p class="w-49 float-l mg-l-1" th:text="${country.nameCountry}" th:name="NameCountryToSearch"></p>
                                <p class="w-50 float-l" th:text="${country.population}"></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="clear"></div>

</div>
</body>
</html>

<script src="main.js"></script>